Django>=4.2
djangorestframework
django-allauth

langchain
langchain-core
langchain-community
langchain-google-genai
langchain-tavily
langchain-text-splitters
langchain-huggingface

faiss-cpu
sentence-transformers

pypdf
unstructured
python-docx

tavily-python
