{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Sent</title>
    <link rel="stylesheet" href="{% static 'authapp/css/password-reset.css' %}">
</head>
<body>

<div class="auth-container">
    <div class="auth-card">
        <div class="icon-circle">
            <span style="font-size: 40px;">✉️</span>
        </div>

        <h2>Check your email</h2>
        
        <p class="auth-subtitle">
            We have sent you an email. If you haven't received it, please check your <strong>Spam</strong> folder.
        </p>
    </div>
</div>

</body>
</html>